body{
	background: #f8f8f8 !important;
}

.nav{
	border-radius: 0px !important;
	padding: 10px 0 10px 0 !important;
	background: #396afc !important;
}

.mb-7{
	margin-bottom: 7px !important;
}

.mt-5{
	margin-top: 5px !important;
}

.mymodal{
	top: 200px !important;
	height: 300px !important;
	font-size: 20px !important;
}